@import '~antd/dist/antd.css';

.Login-Kenzie-Logo {
  text-align: center;
  min-width: 100px;
  min-height: 100px;
  background-image: url('./assets/images/KENZIEPNG2.png');
  background-repeat: no-repeat;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
