@import '~antd/dist/antd.css';

.Login-Kenzie-Logo {
  text-align: center;
  min-width: 100px;
  min-height: 100px;
  background-image: url('./assets/images/KENZIEPNG2.png');
  background-repeat: no-repeat;
  margin-right: 20px;

}

